body {
background: url('./background-white2.jpg') top center no-repeat fixed;
background-size: cover;
color: #ad8e3b;
text-align: center;
font: 700 1em "Helvetica";
}
.container{
max-width: 800px;
display: flex;
flex-direction: column;
margin-top: 2rem;
}
.card {
border: 1px solid #ad8e3b;
padding: .8rem;
width: 6rem;
}
#time {
margin: 2rem auto;
max-width: 8rem;
}
.setting {
display: flex;
justify-content: space-evenly;
}
span#seconds {
font-size: 1em;
}
span#minuts,
span#hours {
font-size: 1.2em;
}
#start:hover,
#stop:hover,
#reset:hover {
cursor: pointer;
transform: scale(1.1);
}

@media (min-width: 768px){
    .container{
        width: 600px;
        font-size: 1.4em;
    }
    .card {
    padding: 1rem;
    width: 8rem;
    }
    span#minuts,
    span#hours {
    font-size: 1.4em;
    }
}
@media (min-width: 1024px){
    .container{
        width: 800px;
        font-size: 2em;
    }
    .card {
    padding: 1.5rem;
    width: 10rem;
    }
}
@media (min-width: 1440px){
    .container{
        margin-left: 8rem;
    }
}